<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-push-2">
			<br />
		</div>
		<% if user_signed_in? %> 
			<% posts_json = Post.includes(:comments).map { |post| post.as_json.merge({comments: post.comments.as_json}) } %>
			<%= react_component( "Posts", { posts: posts_json }) %> 
		<% else %> 
			<% @posts.each do |post| %> 
				<div class="form_container post col-md-8 col-md-push-2">
					<h3><%= post.title %></h3>
					<h4><%= post.author %></h4>
					<p><%= post.content %></p>
					<% if post.video? %>
						<div class="embed-responsive embed-responsive-16by9 video">
		  					<iframe class="embed-responsive-item" src="<%= post.video %>"></iframe>
						</div>
					<% end %> 
					<br />
					<% if post.comments.count != 0 %>
						<button class="btn btn-primary comments_view">Comments</button>
					<% end %> 
					<div class="comment_container">
						<br />
						<% post.comments.order(created_at: :desc).each do |comment| %>
							<p><%= comment.content %></p>
							<p><i><%= time_ago_in_words(comment.created_at) %></i></p>
							<br />
						<% end %> 
					</div>
				</div>
			<% end %> 
		<% end %>
	</div>
</div>