<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-push-2">
			<br />
		</div>
		<% if user_signed_in? %> 
			<%= react_component( "Posts", { posts: @posts }) %> 
		<% else %> 
			<% @posts.each do |post| %> 
				<div class="form_container post col-md-8 col-md-push-2">
					<h3><%= post.title %> </h3>
					<h4><%= post.author %></h4>
					<p><%= post.content %></p>
					<% if post.video %>
						<div class="embed-responsive embed-responsive-16by9 video">
		  					<iframe class="embed-responsive-item" src="<%= post.video %>"></iframe>
						</div>
					<% end %> 
				</div>
			<% end %> 
		<% end %>
	</div>
</div>