<!DOCTYPE html>
<html>
  <head>
    <title>ReactBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  	<% if Rails.env.test? %>
<%end%>

  </head>

  <body>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">React<span style="font-weight: 100; ">Blog</span></a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	      	<li><%= link_to "Home", root_path %></li>
	      	<% if user_signed_in? %>
	      	<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
	      	<li><a href='#' data-toggle="modal" data-target="#myModal">New Post</a></li>
	        <% else %> 
				<li><%= link_to 'Login', new_user_session_path %></li>
	        <% end %> 
	      </ul>
	      <form class="navbar-form navbar-left">
		      <%= form_tag posts_path, method: 'get' do %> 
		        <div class="form-group">
		          <%= text_field_tag :search_post, params[:search_post], class: 'form-control searchbar_fields', placeholder: 'Search' %> 
		        </div>
		        <%= submit_tag "Submit", class: 'btn' %>
		      <% end %> 
	      </form>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
    <%= yield %>
  </body>
</html>
